@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Work+Sans:wght@300;400;500&display=swap');

.fade {
  position: relative;
  overflow: hidden;
  height: 9rem;
}

.fade:after {
  content: '';
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2rem;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(242, 242, 242) 50%
  );
}

.hoverable {
  position: static;
}

.hoverable > a:after {
  content: '\25BC';
  font-size: 8px;
  padding-left: 10px;
  position: relative;
  top: -1px;
}

.hoverable:hover .mega-menu {
  display: block;
}

.onHover {
  display: block;
}

.mega-menu {
  display: none;
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%;
  z-index: 3;
}

.profileImage {
  max-height: 380px;
  overflow: hidden;
}
